.main-title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 0.05rem;
}

.main-container header {
  font-size: 1.8rem;
}

.shuffle-button {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1.6rem;
}

.shuffle-text {
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 0.1rem;
  letter-spacing: 0.02rem;
}
