.App {
  background-color: #fcf9ee;
  text-align: center;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container header {
  font-size: 1.6rem;
}

.shuffle-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 1.6rem;
}

.shuffle-text {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  margin-top: 31px;
}

.skillgrid {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
